.DS_store
.ipynb_checkpoints
*.pyc
*.pyc
data/IVE_tickbidask.txt
__pycache__/capstone_functions_jmi.cpython-36.pyc
*.hdf5
bestNLPmodel_acc054.json
bestNLPmodel_best_stock_increase.json
bestNLPmodel_best_stock_increase.json
bestNLPmodel_acc054.json
data/IVE_bidask1min_08_23_2019.txt
data/IVE_tickbidask_08_23_2019.txt
